{{extend 'layout.html'}}


<div style="margin: 5px 0;font-size:16px;"><table><tr><td width=23% align="left">{{=T('call auction will excute at block')}} <text style="color:#FF9933;" id=end_block></text> (<text id=end_time></text>)</td>
<td width=30% align="right">{{=T('current match price')}}: <text id=excute_price style="color:#FF9933;"></text> CNY/{{=market}},{{=T('match volume')}}: <text style="color:#FF9933;"id=excute_volume></text> {{=market}}</td></tr></table></div>

{{=form}}

			<div>
				<div style="margin-right:25px;float:left;width:35%">
					<div style="margin: 5px 0;">
            <table height="25" width="428"><tbody><tr><td style="font-size:16px;color:#009900;border:0px;float:left;line-height:25px;text-align:left;" valign="middle" width="318"><b>{{=T('bid')}}</b></td><td style="border:0px;text-align:right" valign="middle" width="110" align="right"></td></tr></tbody></table>
					</div>
					<div style="clear:both;height:1px;background:#009900;width:100%;margin: 5px 0 0 0"></div>
					<table id="order_book_bid" class="tableStyle1" width="428">
						<tbody><tr>
                <th width="120">{{=T('Price')}}(<span class="mkType">CNY</span>)</th>
                <th width="120">{{=T('Volume')}}(<span class="coinName">{{=market}}</span>)</th>
						</tr>
						
        </tbody></table>
				</div>
				<div style="float:left;width:35%">
					<div style="margin: 5px 0;">
            <table height="25" width="428"><tbody><tr><td style="font-size:16px;color:#D01515;border:0px;float:left;line-height:25px;text-align:left;" valign="middle" width="318"><b>{{=T('ask')}}</b></td><td style="border:0px;text-align:right" valign="middle" width="110" align="right"></td></tr></tbody></table>
					</div>
					<div style="clear:both;height:1px;background:#D01515;width:100%;margin: 5px 0 0 0"></div>
					<table id="order_book_ask" class="tableStyle1" width="428">
            <th width="120">{{=T('Price')}}(<span class="mkType">CNY</span>)</th>
            <th width="120">{{=T('Volume')}}(<span class="coinName">{{=market}}</span>)</th>
						</tr>
						
        </tbody></table>
				</div>
			</div>
			</div>

        <p></p>
			<div>
        <div style="margin: 5px 0;font-size:16px;color:#FF9933;"><b>{{=T('transaction history')}}</b></div>
				<div style="clear:both;height:1px;background:#FF9933;width:70%;margin: 5px 0 0 0"></div>
				<table id="transaction_history" style="float:left" id="tradeTable" class="tableStyle1" width="881">
					<tbody><tr>
<th width="10%">{{=T('Time')}}</th>
<th width="5%">{{=T('Block')}}</th>
<th width="5%">{{=T('Trx ID')}}</th>
<th width="50%">{{=T('Description')}}</th>
					</tr>
					
          </tbody></table>
			</div>

        <p></p>
			<div>
				<div style="clear:both;height:1px;background:#FF9933;width:70%;margin: 5px 0 0 0"></div>
        <div style="margin: 5px 0;font-size:16px;color:#FF9933;"><b>{{=T('trade history')}}</b></div>
				<table id="trade_history" style="float:left" id="tradeTable" class="tableStyle1" width="881">
					<tbody><tr>
<th width="20%">{{=T('Time')}}</th>
<th width="10%">{{=T('Block')}}</th>
<th width="20%">{{=T('Price')}}</th>
<th width="50%">{{=T('volume')}}</th>
					</tr>
					
          </tbody></table>
			</div>
		</div>
	</div>

<script type="text/javascript">
var bid_price = {};
var ask_price = {};
var amt_limit = {};
var excute_price = 0.0
var excute_volume = 0.0
var order_book = {};
var excute_time = 0;
var precision_price = 4
var precision_volume = 2
var market = "{{=market}}"
if (market == "BTC") {
  precision_price = 0;
  precision_volume = 4;
  }

refresh_order_book = function (text) {
      if (!text) return;
      order_book = text
      _refresh_order_book(order_book);
      }

_refresh_order_book = function (text) {
      tab_bid = document.getElementById('order_book_bid');
      tab_ask = document.getElementById('order_book_ask');
      var order_bid_list = text["bid"];
      var order_ask_list = text["ask"];
      var rowCount = tab_bid.rows.length;
      for (var index = rowCount -1; index>0; index--) {
         tab_bid.deleteRow(index);
         }
      var rowCount = tab_ask.rows.length;
      for (var index = rowCount -1; index>0; index--) {
         tab_ask.deleteRow(index);
         }

      for (index in order_bid_list) {
        dataTR = tab_bid.insertRow();
        var price = order_bid_list[index][0]
        var volume = order_bid_list[index][1]
        if(price >= excute_price && excute_volume!= 0.0) {
          dataTR.insertCell(0).innerHTML = '<font color="#FF9933">'+price.toFixed(precision_price)+'</font>';
          } else {
          dataTR.insertCell(0).innerHTML = price.toFixed(precision_price);
          }
        dataTR.insertCell(1).innerHTML = volume.toFixed(precision_volume);
      } 
      for (index in order_ask_list) {
        dataTR = tab_ask.insertRow();
        var price = order_ask_list[index][0]
        var volume = order_ask_list[index][1]
        if(price <= excute_price && excute_volume!= 0.0) {
          dataTR.insertCell(0).innerHTML = '<font color="#FF9933">'+price.toFixed(precision_price)+'</font>';
          } else {
          dataTR.insertCell(0).innerHTML = price.toFixed(precision_price);
          }
        dataTR.insertCell(1).innerHTML = volume.toFixed(precision_volume);
      } 
};

Date.prototype.format = function(format) {
   var date = {
     "M+": this.getMonth() + 1,
     "d+": this.getDate(),
     "h+": this.getHours(),
     "m+": this.getMinutes(),
     "s+": this.getSeconds(),
     "q+": Math.floor((this.getMonth() + 3) / 3),
     "S+": this.getMilliseconds()
   };
   if (/(y+)/i.test(format)) {
     format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
   }
   for (var k in date) {
     if (new RegExp("(" + k + ")").test(format)) {
       format = format.replace(RegExp.$1, RegExp.$1.length == 1
       ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
     }
   }
   return format;
}

time_format = function (text) {
   time = new Date(text+"Z")
   //time = new Date(time.getTime() - time.getTimezoneOffset()*60000)
   time_str = time.format('MM-dd hh:mm:ss')
   return time_str;
}

refresh_trade_history = function (text) {
      if (!text) return;
      tab = document.getElementById('trade_history');
      var hisData = text;
      if (typeof hisData[0] === 'string') {
        hisData = [hisData];
      }
      hisData.sort();
      var trxid_last = ""
      for (index in hisData) {
        data = hisData[index];
        //second = Date.parse(data.shift());
        time = time_format(data.shift())
        block_begin = data.shift();
        block_end = data.shift();
        price = data.shift();
        volume = data.shift();
        dataTR = tab.insertRow(1);
        dataTR.id = "history_tr_"+time;
        dataTR.insertCell(0).innerHTML = time_str;
        dataTR.insertCell(1).innerHTML = block_end;
        dataTR.insertCell(2).innerHTML = price.toFixed(precision_price)+" CNY/{{=market}}";
        dataTR.insertCell(3).innerHTML = volume.toFixed(precision_volume)+" {{=market}}";
      } 
      try {
        while (true) {
          tab.deleteRow(24);
        }
      } catch (e) {
      }
};

refresh_trans_history = function (text) {
      if (!text) return;
      tab = document.getElementById('transaction_history');
      var hisData = text;
      if (typeof hisData[0] === 'string') {
        hisData = [hisData];
      }
      hisData.sort();
      var trxid_last = ""
      for (index in hisData) {
        data = hisData[index];
        time = time_format(data.shift())
        blockid = data.shift();
        trxid = data.shift();
        if(trxid == trxid_last) continue;
        trxid_last = trxid;
        desc = data.shift();
        dataTR = tab.insertRow(1);
        dataTR.id = "history_tr_"+time;
        dataTR.insertCell(0).innerHTML = time;
        dataTR.insertCell(1).innerHTML = blockid;
        dataTR.insertCell(2).innerHTML = trxid;
        dataTR.insertCell(3).innerHTML = desc;
      } 
      try {
        while (true) {
          tab.deleteRow(102);
        }
      } catch (e) {
      }
};

refresh_trade_cur = function (text) {
  if (!text) return;
  excute_price = text[0]
  document.getElementById('excute_price').innerHTML=text[0].toFixed(precision_price);
  excute_volume = text[1]
 document.getElementById('excute_volume').innerHTML=text[1].toFixed(precision_volume);
};

refresh_excute_time = function (text) {
  if (!text) return;
  document.getElementById('end_block').innerHTML=text[1];
  time = new Date(text[2]+"Z")
  excute_time = time.getTime();
};

function generate_link() {
  //bts:to_id/transfer/amount/1.23/asset/USD/memo/xxx
  var d_amt = document.fm.deposit_amount.value;
  var d_cur = document.fm.deposit_currency.value;
  var w_price = document.fm.price_limit.value;
  var account = "{{=account}}";

  try {
    var pay_link = "bts:"+account+"/transfer/amount/" + d_amt + "/asset/" + d_cur + "/memo/" + w_price;
    var link_id = 'pay_link' + new Date();
    var link_div = document.getElementById("link_div");
    link_div.innerHTML = "<a id='" + link_id + "' href='" + pay_link + "'>Click here to Pay</a>";
    document.getElementById(link_id).click();
  } catch (e) {
  }
}

function refresh_comment() {
  var d_amt = document.fm.deposit_amount.value;
  var d_cur = document.fm.deposit_currency.value;
  var d_price = document.fm.price_limit.value;
  var account = "{{=account}}";

  try {
    var comment1_en = ""
    var comment1_cn = ""
    if (market == "BTC") {
      comment1_en = "you can get TRADE.BTC from <A href=http://blocktrades.us> blocktrades.us</A>, "
      comment1_cn = "你可以从<A href=http://blocktrades.us> blocktrades.us</A> 充提 TRADE.BTC, "
      }
    var comment= comment1_en + "to complete your order, send " + d_amt +" "+  d_cur + " to " + account + ", with memo: " + d_price;
    if(navigator.languages ? navigator.languages[0] : (navigator.language || navigator.userLanguage) == "zh-CN"){
      comment= comment1_cn + "为完成订单，请使用bts钱包发送 " + d_amt +" "+  d_cur + " 到 " + account + ", memo填写: " + d_price;
      }
    document.getElementById('comment').innerHTML =comment 
    if(d_price / excute_price < 0.8 || d_price / excute_price  > 1.2){
      document.getElementById('price_limit').style= "color:#ff0000;";
      }else{
     document.getElementById('price_limit').style= "color:#000000;";
     }
  } catch (e) {
  }
}

function ShowCountDown() {
  now = new Date()
  var countdown = ((excute_time -now.getTime())/1000+12).toFixed(0);
  if (countdown <= 0) countdown = 0;
  document.getElementById('end_time').innerHTML=countdown;
}

window.setInterval(function(){ShowCountDown();}, 1000); 
</script>

<script src="{{=URL('static','js/autobahn.min')}}"></script>
<script type="text/javascript">
var init_done = false;

var connection = new autobahn.Connection({
  url: 'ws://btsbots.com:8080/ws',
    realm: 'realm1'
}
);

connection.onopen = function (session) {

   function on_excute_time(args, kwargs, details) {
      refresh_excute_time(args[0]);
      //console.log("Got trx: " + args);
   }
   session.subscribe('btsbots.auction.'+market+'.excute_time', on_excute_time);

   function on_match_cur(args, kwargs, details) {
      refresh_trade_cur(args[0]);
      //console.log("Got trx: " + args);
   }
   session.subscribe('btsbots.auction.'+market+'.match_cur', on_match_cur);

   function on_match_result(args, kwargs, details) {
      refresh_trade_history(args[0]);
      //console.log("Got trx: " + args);
   }
   session.subscribe('btsbots.auction.'+market+'.match_result', on_match_result);

   function on_trx(args, kwargs, details) {
      refresh_trans_history(args[0]);
      //console.log("Got trx: " + args);
   }
   session.subscribe('btsbots.auction.'+market+'.trx', on_trx);

   function on_order_book(args, kwargs, details) {
      refresh_order_book(args[0]);
      //console.log("Got trx: " + args);
   }
   session.subscribe('btsbots.auction.'+market+'.order_book', on_order_book);

   if (init_done == false) {
     session.call('btsbots.get_last', ['btsbots.auction.'+market+'.excute_time']).then(
        function (res) {
           refresh_excute_time(res);
           //console.log("call trx_history: " , res);
        }
     );
     session.call('btsbots.get_last', ['btsbots.auction.'+market+'.match_cur']).then(
        function (res) {
           refresh_trade_cur(res);
           _refresh_order_book(order_book)
           document.getElementById('price_limit').value= excute_price.toFixed(precision_price);
           refresh_comment();
           //console.log("call trx_history: " , res);
        }
     );
     session.call('btsbots.get_history', ['btsbots.auction.'+market+'.match_result',10]).then(
        function (res) {
           refresh_trade_history(res);
           //console.log("call trx_history: " , res);
        }
     );
     session.call('btsbots.get_history', ['btsbots.auction.'+market+'.trx',10]).then(
        function (res) {
           refresh_trans_history(res);
           //console.log("call trx_history: " , res);
        }
     );
     session.call('btsbots.get_last', ['btsbots.auction.'+market+'.order_book']).then(
        function (res) {
           refresh_order_book(res);
           //console.log("call trx_history: " , res);
        }
     );
     init_done = true;
   }
};

connection.open();
</script>
