{{extend 'layout.html'}}
<b>什么是BTS？</b>
<p></p>
BTS是基于BTC区块链技术改进而来的去中心化交易平台，这里的CNY、USD等资产都是由3倍价值 BTS 抵押生成，和法币具有同等的购买力。更多信息参考
<A href="http://www.bts.hk/bitshares-getting-started-tutorial.html">比特股五分钟入门教程</A>

<p></p>
<b>什么是BTSBOTS？</b>
<p></p>
BTSBOTS 是由BTS社区成员研发的智能交易机器人，可提供做市、兑换、集中竞价等多种服务。这些服务将极大的提高资本的流动性，能创造很大的市场价值。

<p></p>
<b>什么是即时兑换服务？</b>
<p></p>
我们提供多种资产中任意两种的互相兑换服务，包括：BTS、BTC、USD、CNY、EUR、GOLD、SILVER、BOTSCNY。兑换速度平均为10-20秒，价格实时更新，物美价廉。

<p></p>
<b>如何使用即时兑换服务？</b>
<p></p>
1.在"发送资产"中选择你已有的资产名。
2.填写存入数量，注意不要超过后面的限额提示。
3.在"获取资产"中选择你想要的资产。
4.检查下面的"获取数量"及"价格"，如果没问题，点击"下单"按钮，会弹出钱包转账界面，确认转帐即可。

<p></p>
<b>什么是集中竞价交易服务？</b>
<p></p>
针对高波动资产，比如BTS、BTC，我们提供集中竞价交易服务。用户只需发送资产，并注明最高买价或者最低卖价，我们的机器人会按满足条件的最优价格帮助买卖双方撮合。
为保持较好的响应速度，集中竞价每分钟运行一次。被撮合的订单会立即返回给用户，而未成交的订单会自动进入下一轮竞价，最长24小时如果仍未成交则返还给用户。
本服务对成交单收取0.1%手续费，对未成交单收取 0.1 BTS 网络传输费用。

<p></p>
<b>集中竞价交易算法是怎样的？</b>
<p></p>
每次集中竞价交易结束后，所有成交单的成交价是相同的，为了找到最佳成交价，我们遵循以下几点原则: 1)让撮合的成交额达到最大值。 2)所有高于成交价的买单和所有低于成交价的卖单都应该成交。

<p></p>
<b>如何使用集中竞价交易？</b>
<p></p>
1. 如果你想卖BTS，在资产下拉框选择BTS。如果你想买BTS，在下拉框选择其它你拥有的资产。
2. 在"转入"框填入想参与交易资产的数量
3. 在限价中填入你的价格限制，单位是CNY/BTS。对BTS卖单，这里是你能接受的最低卖出价。对BTS买单，这里是你能接受的最高买价。
4. 点击"下单"按钮会弹出钱包转账界面，确认转账即可。

<p></p>
<b>集中竞价交易费用多少？</b>
<p></p>
交易费为成交额的0.1%，加上 0.1 BTS 传输费。

<p></p>
<b>BTSBOTS相比传统的交易平台有何优势？</b>
<p></p>
1. 我们的所有交易数据都完全内嵌在区块链，因此数据非常安全，非常透明。不会存在用户数据丢失、或裸卖空等内幕交易。
2. 成交后所有余额都直接返还给用户自己的钱包，丢币风险很小。
3. 无需专门注册帐号，使用BTS帐号即可参与交易。

<p></p>
<b>BTSBOTS相比BTS钱包内建平台有何优势？</b>
<p></p>
1. 我们基于最基本的转账操作实现所有交易动作，因此可以支持轻钱包、手机钱包的交易。
2. 我们使用集中竞价交易引擎，相对传统的连续竞价交易，它对实时没有要求，规避了区块链无法实时响应的缺点。经过长时间充分的多空竞争后，最终的成交价很难被人为操纵，非常合理，非常适合大额交易。

<p></p>
<b>什么是做市机器人？</b>
<p></p>
做市机器人在BTS内盘交易平台几个主要市场做市，包括BTS对USD、CNY... BOTSCNY对BTS、BTC、USD、CNY、EUR、GOLD、SILVER等。所有成交记录实时推送，最大程度做到信息透明公开。

<p></p>
<b>什么是 BOTSCNY？</b>
<p></p>
BOTSCNY 是 BTSBOTS 的基础资产，在BTSBOTS提供的所有服务中，其拥有和CNY 1:1 同等购买力。BOTSCNY 背后抵押的是超过100%的USD、CNY、GOLD、SILVER等优质资产。

<p></p>
<b>我还没有虚拟币怎么参与交易？</b>
<p></p>
有几种途径：1.可以充值去其它接受法币的交易所，购买BTS，把BTS提取到自己的钱包。2. 可以在 tradebts.com 购买 bitcny。
