{{extend 'layout.html'}}

<div class="form_div">
<div class="con con_title"><b>{{=T('Place Order')}}</b></div>
<!-- <div style="clear:both;height:1px;background:#FF9933;width:80%;margin: 5px 0 0 0"></div>-->
{{=form}}
</div>
<script type="text/javascript">
	jQuery("#operation").selectpick({parent:"operation_div",selectText:"",disabled: false,width:270,height:30,left:0,top:-28,_top:-30,z_index:1000});
</script>
<div class="clearfix"></div>
<div class="list_div">
<div class="con con_title">{{=T('transaction history')}}</div>
<!-- <div style="clear:both;height:1px;background:#FF9933;width:80%;margin: 5px 0 0 0"></div>-->
<table id="transaction_history" class="tableStyle1" width="881">
<tbody><tr>
<th width="10%">{{=T('Time')}}</th>
<th width="5%">{{=T('Block')}}</th>
<th width="5%">{{=T('Trx ID')}}</th>
<th width="50%">{{=T('Description')}}</th>
</table>
</div>
<script type="text/javascript">
var max_amount_a = 0;
var max_amount_b = 0;

function generate_link() {
  //bts:to_id/transfer/amount/1.23/asset/USD/memo/xxx
  var my_account = "{{=my_account}}"
  var amount = document.fm.amount.value;
  var memo = document.fm.account.value;
  var operation = document.fm.operation.value;
  var withdraw = "{{=withdraw}}";
  var deposit = "{{=deposit}}";
  var pay_link
  if (memo == "") {
      alert("please input receive account");
      return false;
  }
  if(operation == withdraw){
    if (amount > max_amount_b) {
      alert("No enough {{=asset_a}}");
      return false;
    }
    pay_link = "{{=network_a}}:{{=my_account}}/transfer/amount/" + amount + "/asset/{{=asset_a}}/memo/" + memo;
  }else{
    if (amount > max_amount_a) {
      alert("No enough {{=asset_b}}");
      return false;
    }
    pay_link = "{{=network_b}}:{{=my_account}}/transfer/amount/" + amount + "/asset/{{=asset_b}}/memo/" + memo;
  }
  var link_id = 'pay_link' + new Date();
  var link_div = document.getElementById("link_div");
  link_div.innerHTML = "<a id='" + link_id + "' href='" + pay_link + "'>Click here to Pay</a>";
  document.getElementById(link_id).click();
}

refresh_balance = function (text) { 
  if (!text) return;
  max_amount_a = text[0];
  max_amount_b = text[1];
  refresh_comment()
}

refresh_comment= function () { 
  var operation = document.fm.operation.value;
  var amount = document.fm.amount.value;
  var account = document.fm.account.value;
  var withdraw = "{{=withdraw}}";
  var deposit = "{{=deposit}}";
    if(operation == withdraw){
      if(navigator.languages ? navigator.languages[0] : (navigator.language || navigator.userLanguage) == "zh-CN"){
        comment="使用 {{=network_a}} 钱包发送 "+amount+" {{=asset_a}} 到 {{=my_account}}, memo 填写 {{=network_b}} 钱包的收款帐号";
      } else {
        comment="send "+amount+" {{=asset_a}} to {{=my_account}} from {{=network_a}} wallet, and we will send "
        + amount+" {{=asset_b}} to account <text style='color:#ff0000;'>["+account+ "] </text>from {{=network_b}} wallet";
      }
      limit=max_amount_b.toFixed(0) + " {{=asset_a}}"
    }else{
      if(navigator.languages ? navigator.languages[0] : (navigator.language || navigator.userLanguage) == "zh-CN"){
        comment="使用 {{=network_b}} 钱包发送 "+amount+" {{=asset_b}} 到 {{=my_account}}, memo 填写 {{=network_a}} 钱包的收款帐号";
      } else {
        comment="send "+amount+" {{=asset_b}} to {{=my_account}} from {{=network_b}} wallet, and we will send "
        + amount+" {{=asset_a}} to account <text style='color:#ff0000;'>["+account+ "] </text>from {{=network_a}} wallet";
      }
      limit=max_amount_a.toFixed(0) + " {{=asset_b}}"
    }
    document.getElementById('comment').innerHTML =comment;
    document.getElementById('limit').innerHTML = limit;
};

Date.prototype.format = function(format) {
   var date = {
     "M+": this.getMonth() + 1,
     "d+": this.getDate(),
     "h+": this.getHours(),
     "m+": this.getMinutes(),
     "s+": this.getSeconds(),
     "q+": Math.floor((this.getMonth() + 3) / 3),
     "S+": this.getMilliseconds()
   };
   if (/(y+)/i.test(format)) {
     format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
   }
   for (var k in date) {
     if (new RegExp("(" + k + ")").test(format)) {
       format = format.replace(RegExp.$1, RegExp.$1.length == 1
       ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
     }
   }
   return format;
}

time_format = function (text) {
   time = new Date(text+"Z")
   //time = new Date(time.getTime() - time.getTimezoneOffset()*60000)
   time_str = time.format('MM-dd hh:mm:ss')
   return time_str;
};

refresh_trx = function (text) {
      if (!text) return;
      tab = document.getElementById('transaction_history');
      var hisData = text;
      if (typeof hisData[0] === 'string') {
        hisData = [hisData];
      }
      var trxid_last = ""
      for (index in hisData) {
        data = hisData[index];
        time = time_format(data.shift())
        blockid = data.shift();
        trxid = data.shift();
        if(trxid == trxid_last) continue;
        trxid_last = trxid;
        desc = data.shift();
        dataTR = tab.insertRow(1);
        dataTR.id = "history_tr_"+time;
        dataTR.insertCell(0).innerHTML = time;
        dataTR.insertCell(1).innerHTML = blockid;
        dataTR.insertCell(2).innerHTML = trxid;
        dataTR.insertCell(3).innerHTML = desc;
      } 
      try {
        while (true) {
          tab.deleteRow(102);
        }
      } catch (e) {
      }

};
</script>

<script src="https://pusher.btsbots.com/autobahn.min.js"></script>
<script type="text/javascript">
var init_done = false;

var ws_uri = 'wss://pusher.btsbots.com/ws';

var connection = new autobahn.Connection({
    url: ws_uri,
    realm: 'realm1'
}
);

connection.onopen = function (session) {

   function on_trx(args, kwargs, details) {
      refresh_trx(args[0]);
      //console.log("Got trx: " + args);
   }
   session.subscribe('btsbots.gateway.{{=asset_b}}.trx', on_trx);

   function on_balance(args, kwargs, details) {
      refresh_balance(args[0]);
      //console.log("Got trx: " + args);
   }
   session.subscribe('btsbots.gateway.{{=asset_b}}.balance', on_balance);

   if (init_done == false) {
     session.call('btsbots.get_history', ['btsbots.gateway.{{=asset_b}}.trx',30]).then(
        function (res) {
           refresh_trx(res);
           //console.log("call trx_history: " , res);
        }
     );
     session.call('btsbots.get_last', ['btsbots.gateway.{{=asset_b}}.balance']).then(
        function (res) {
           refresh_balance(res);
           //console.log("call trx_history: " , res);
        }
     );
     init_done = true;
   }
};

connection.open();
</script>
