{{extend 'layout.html'}}
我们是开放型组织，你可以多种形式加入我们的项目，请在 <A href=https://bitsharestalk.org/index.php?board=4.0>BTS 社区中文版</A>联系我们。
<p></p>

<h3>获得相关股份</h3>
<b>1. BTSBOTS.EXCH</b>
<p></p>
BTSBOTS.EXCH 为集中竞价交易平台股份，总发行量为2000万股，其中5%将以赠送的形式向平台用户分配出去，所有参与交易的用户在成交额超过100元时有机会获得。持有BTSBOTS.EXCH可获得交易平台收益分红。

<p></p>
<b>2. BTSBOTS.FUND1</b>
<p></p>
敬请期待

<p></p>
<b>3. BTSBOTS.FUND2</b>
<p></p>
敬请期待

<h3>加入我们的团队</h3>
<p></p>
<b>开发人员</b>
<p></p>
如果你是一位 web 开发人员或设计师，可帮助我们改善代码，贡献代码被采纳可获赠股份，或被邀请加入我们的团队。<br>
我们的代码可在 github 下载 <A href="https://github.com/pch957/btsbots_exchange"> https://github.com/pch957/btsbots_exchange</A>


<p></p>
<b>市场推广</b>
<p></p>
如果你认可我们的产品，并帮助我们做了市场推广工作，我们会赠送股份，或邀请你加入我们的团队。

<p></p>
<b>优质用户</b>
<p></p>
如果你对我们的业务有好的建议，欢迎在BTS社区中文版提出，被采纳后我们会赠送股份。

<h3>合作伙伴</h3>
<p></p>
<b>投资人</b>
<p></p>
如果你对我们的产品有兴趣，请在BTS社区联系我们，让我们一起创造更大价值。

<p></p>
<b>做市商</b>
<p></p>
做市商对交易平台的重要性是不言而喻的，我们可以给签约做市商更低的手续费。

<p></p>
<b>合作项目</b>
<p></p>
如果有相关项目，欢迎合作，我们一起把生态圈做大。
